/* 
! Функция времени задает скорость перехода с помощью ключевых слов linear, ease-in, ease-out
? linear - изменение происходит с постоянной скоростью
? ease-in - изменение протекает медленно но ускоряется к концу
? ease-out - изменение протекает быстро но замедляется к концу

! Так же можно настроить свою кривую времени с помощью значения cubic-bezier. Эту кривую можно редактировать в панели разработчика.

! Вместо плавных переходов можно использовать шаги значением steps().
*/

.container {
   position: relative;
   height: 30px;
}

.box {
   position: absolute;
   left: 0;
   height: 30px;
   width: 30px;
   background-color: hsl(130, 50%, 50%);
   transition: all 1s steps(3);
}

.container:hover .box {
   left: 400px;
   height: 100px;
}