.container {
   display: flex;
   width: 80%;
   max-width: 1000px;
   margin: 1em auto;
   min-height: 100vh;
}

.col-main {
   flex: 1 80%;
}

.col-sidebar {
   flex: 20%;
}

.affix {
   position: sticky;
   top: 1em;
}

/* ! Итоги главы 7 
? 1. Используйте фиксированное позиционирование для модальных окон
? 2. Применяте абсолютное позиционирование для раскрывающихся меню, всплывающих подсказок и прочих динамических взаимодействий
? 3. помните о проблемах совместимости при использовании данных типов позиционирования
? 4. У свойства z-index есть две особенности: оно работает только с позиционируемыми элементами, с его помощью создается новый контекст наложения
? 5. Помните о потенциальных ошибках при создании нескольких контекстов наложения на странице
? 6. Отслеживайте реализацию в браузерах поддержки липкого позиционирования

*/