/* ?Элементы у которых нет свойства font-size но используют единицу em наследуют его от родителя, в данном случае от body */
body {
   margin: auto;
   padding: 0;
   box-sizing: border-box;
   width: 1170px;
   font-size: 16px;
}

/* 
?Элемент .slogan берет размер шрифта от родителя body и умножает на 1.2em. В конечном итоге браузер отображает размер шрифта 1.2*16=19.2
?Но внутренние отступы padding берут размер шрифта 19.2px а не 16px от body, и создает отступы в 23.04px
 */
.slogan {
   font-size: 1.2em;
   padding: 1.2em;
   background-color: #ccc;
}

/* ?Элементу .padded задано свойство размера шрифта, поэтому локльным значением для отступов является 16px */
.padded {
   font-size: 16px;
   border: 1px silver dashed;
   padding: 1em;
   margin: 0 0 30px 0;
}

/* ?Элемент box берет значения для отступов и границ от элементов .box-small, .box-large */
.box {
   padding: 1em;
   border-radius: 1em;
   background-color: lightgray;
}

.box-small {
   font-size: 12px;
}

.box-large {
   font-size: 18px;
}

/* 
!Единициа измерения em ведет себя по разному для каждого элемента при большой вложеннсти, как показано на примере списков.
?Решается это лишь переопределением свойств для каждого элемента, чтоя является нежелаетльным меотодом при верстке
 */
ul {
   font-size: 0.8em;
}

/* ul ul {
   font-size: 1em;
} */