body {
  margin: 0;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ?При конфликте между селекторами тэга, класса и идентификатора, будут использованы правила стилей ИДЕНТФИКАТОРА (id(#)) */

h1 {
  font-family: serif;
}

/* Применяемые стили по умолчанию */
#page-title {
  font-family: sans-serif;
}

.title {
  font-family: monospace;
}

/* ?Сброс стилей браузера. Авторские стили имеют приоритет высше чем браузерные */

#main-nav {
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
}

#main-nav li {
  display: inline-block;
}

/* ?Селектор #main-nav a, имеет специфичность (1,0,1). А селектор .featured имеет спецфичность (0,1,0). Поэтому по умолчанию применяются стили селектора #main-nav a ! */

#main-nav a {
  color: white;
  background-color: #13a4a4;
  padding: 5px;
  border-radius: 2px;
  text-decoration: none;
}

/* ?Чтобы повысить специфичность селектора .featured можно задать ему важность с помощью !important но это не является лучшим решением. Вместо этого перед селектором добавляется селектор идентификатора. После этого специфичность возрастает до (1,1,0) */

/* 
.featured{
  background-color: orange;
} 
*/

#main-nav .featured {
  background-color: orange;
}

/* !Так же проблему можно решить удалив селектор идентификатора и использовав вместо него селектор класса, что явлется наилучшим методм решения этой проблемы, с сохранением меньшей специфичности. Чтобы в будущем для решения более сложных конфликтов иемть несколько методов. */
/* В последующих главах использованы селекторы класса как описано ниже
?Пример:
        (0,1,1)
  .main-nav a{
    color: white;
    background-color: #13a4a4;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
  }
        (0,2,0)
  .main-nav .featured {
    background-color: orange;
}
 */

/* !При равной специфичности выполняется набор стилей указанный в файле псоледним. Нужно учитывать это при написании стилей для ссылок для правильного отображения.
?Порядок применения стилей ссылок:
  a:link{color:blue;text-decoration:none;} Непосещенная
  a:visited{color:purple;} Посещенная
  a:hover{text-decoration:underline;} Наведение
  a-.active{color:red;} Активная
 */

/* 
 !Советы по каскодности:
 ?1. Стараться никогда не использовать селектор идентификатора
 ?2. Не использовать аннотацию @important без крайней необходимости
  */