/* !Перспектива расстояние между сценой и камерой. Перспективу можно для каждого элемента можно задать с помощью transform, но если нам нужно задать перспективу нескольким элементам и создать эффект того что они лежат на одном пространсвте, надо задать свойство perspective для родительского элемента.

?По умолчанию перспектива отображаетсся по центру на свойство perspective-origin может смщеать камеру в любом направлении.

*/
.row {
   display: flex;
   justify-content: center;
   perspective: 200px;
   perspective-origin: center top;
   transform-style: preserve-3d;
}

.box {
   box-sizing: border-box;
   width: 150px;
   margin: 0 2em;
   padding: 60px 0;
   text-align: center;
   background-color: hsl(150, 50%, 40%);
   transform: rotateX(30deg);

}

/* !Итоги главы 15:
?1. Используйте трансформацию, чтобы масштабировать, вращать или наклонять элементы в двух или трех плоскостях.
?2. Трансформации очень важны в переходах и анимации с точки зрения производительности.
?3. Поймите, как работает поток процессов рендеринга, и всегда учитывайте его при создании анимации. 
?4. Задействуйте пользовательские функции, чтобы добавить эффект прокачивания при переходе.
*/